ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

/* ------------ header ------------ */

.header {
	padding-top: 28px;
	padding-bottom: 127px;
	background-image: url("../images/banner-bg.jpg");
} 
  
.header__logo {
	margin-top: 0px;
	width: 185px;
}
  
.header__title {
	margin: 98px auto 0;
	font-size: 45px;
	line-height: 75px;
	width: 687px;
}

.header__menu__nav {
	display: flex;
}

.header__menu {
	box-sizing: border-box;
	margin: 0 248px;
}

.header__menu__nav__item:nth-child(n+2) {
	margin-left: 36px;
}

.menu-link-item {
	color: inherit;
	font-size: 13px;
}

.menu-link-item:hover {
	text-decoration: underline;
}

/* ---------- main----------- */

.main__posts__wrapper {
  margin: 0 auto;
  padding-top: 27px;
  width: 1170px;
  color: #0f0d0e;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.main__posts {
  width: 778px;
  gap: 60px;
}

.main__post {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__post__image {
  width: 381px;
  margin-right: 29px;
}

.post__item__description {
  margin-top: 0px;
}

.post__item__tags {
  line-height: 14px;
}

.main__post__title {
  font-size: 20px;
  line-height: 22px;
  margin: 10px 0 0;
}

.main__post__info {
  margin-top: 31px;
}

.main__post__text {
  margin-top: 31px;
}

.trends {
  padding-top: 54px;
}

.trends-items {
  flex-wrap: nowrap;
  gap: 4px;
}

.trend__item {
  width: calc((100% - 12px) / 4)
  padding: 16px 20px;
  height: 319px;
}

.trend__item__description {
  padding: 32px;
}

.article-title {
  font-size: 20px;
  line-height: 24px;
}

.section__name {
  font-size: 20px;
}

.section__name::after {
  margin: 8px auto 28px;
}

.main__sections {
  width: 272px;
}