/* ------------------- header ---------------------- */

.header {
  padding-top: 225px;
  padding-bottom: 211px;
  background-image: url("../images/banner-mobile.jpg");
}

.header-menu__logo {
  width: 270px;
}

.header-data__title {
  margin: 29px 40px 0;
  font-size: 26px;
  line-height: 36px;
}

/* ---------- main----------- */

.trends {
  padding-top: 34px;
  font-size: 16px;
}

.trends__title {
  font-size: 16px;
  line-height: 29px;
}

.trends__title::after {
  margin: 5px auto 24px;
}

.trend-items {
  flex-direction: column;
}

.trend-item {
  height: 233px;
  padding: 15px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #c6c5c2;
}

.trend-info {
  padding: 28px 20px;
  width: 100%;
}

@media (orientation: landscape) {
  .trend-items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
  }

  .trend-item {
    width: calc((100% - 3px) / 2);
  }
}

.trend-info__title {
  line-height: 20px;
}

.post-description {
  margin-top: 5px;
}

.main {
  padding: 43px 15px 0;
}

.main-posts {
  gap: 35px;
}

.post-image {
  width: 100%;
}

.main-post {
  border-bottom: 3px solid #ededed;
  padding-bottom: 20px;
}

.post-description__title {
  font-size: 16px;
  line-height: 20px;
  margin: 6px 0 0;
}

.post-info {
  margin-top: 18px;
}

.post-text {
  font-size: 14px;
  line-height: 20px;
}

/* ------ main sections ------- */

.main__sections {
  padding-top: 37px;
}

.new-posts__title {
  font-size: 16px;
}

.new-posts__title::after {
  margin: 9px auto 22px;
  
}

.new-posts__post-item {
  padding-top: 6px;
  padding-bottom: 16px;
  display: flex;
  align-items: flex-start;
  gap: 19px;
}

/* -------- mailing -------- */

.mailing {
  padding-top: 37px;
}

.mailing__title {
  font-size: 16px;
}

.mailing__title::after {
  margin: 9px auto 23px;
}

.search-form {
  margin-top: 45px;
}

.search-label {
  flex-grow: 1;
}

/* -------- tags -------- */

.tags-section {
  padding-top: 38px;
}

.tags-section__title {
  font-size: 16px
}

.tags-section__title::after {
  margin: 9px auto 23px;
}

/* -------- themes -------- */

.themes-section {
  padding-top: 37px;
}

.themes-section__title {
  font-size: 16px
}

.themes-section__title::after {
  margin: 9px auto 8px;
}

/* -------- products -------- */

.products {
  padding-top: 33px;
}

.products__title {
  font-size: 16px;
}

.products__title::after {
  margin: 11px auto 28px;
}

.products__inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.product-image {
  height: 284px;
}

.product-info {
  top: -36px;
  padding: 48px 22px 18px 17px;
}

.product-info__title {
  font-size: 17px;
  line-height: 22px;
}

.product-info__text {
  font-size: 15px;
  line-height: 22px;
  text-transform: none;
  margin-top: 3px;
}

.product-buy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 23px;
}

.prices {
  font-weight: bold;
}

.price-item:after {
	content: ' \20BD';
}

.old-price {
  text-decoration: line-through;
  font-size: 14px;
}

.current-price {
  font-size: 20px;
  line-height: 14px;
  padding-bottom: 10px;
}

.product-buy__shop {
  font-size: 14px;
  line-height: 40px;
  padding: 4px;
  width: 140px;
  box-sizing: border-box;
  background-color: #b59f5b; 
  color: #fff;
  text-align: center;
}

.product-info__text-link {
  color: #b59f5b;
  font-weight: normal;
}

.product-info__text-link:hover {
  text-decoration: underline;
}

.product-image-first {
  background-image: url("../images/shop-item-mobile1.jpg");
}

.product-image-second {
  background-image: url("../images/shop-item-mobile2.jpg");
}

.product-image-third {
  background-image: url("../images/shop-item-mobile3.jpg");
}

/* -------------------- footer ----------------- */

.socials {
  margin: 20px 15px 41px;
}

