/* ------------------- header ---------------------- */

.header {
  padding-top: 225px;
  padding-bottom: 213px;
  background-image: url("../images/banner-mobile.jpg");
}

.header__logo {
  width: 270px;
}

.header__title {
  margin: 37px 40px 0;
  font-size: 26px;
  line-height: 36px;
}