/* ------------------- header ---------------------- */

.header {
  padding-top: 225px;
  padding-bottom: 213px;
  background-image: url("../images/banner-mobile.jpg");
}

.header__logo {
  width: 270px;
}

.header__title {
  margin: 29px 40px 0;
  font-size: 26px;
  line-height: 36px;
}

/* ---------- main----------- */

.main__posts {
  padding: 43px 15px 0;
}

.main__post__image {
  width: 100%;
}

.trends {
  padding-top: 33px;
  font-size: 16px;
}

.trends-items {
  flex-direction: column;
}

.trend__item {
  height: 233px;
  padding: 15px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #c6c5c2;
}

.trend__item__description {
  padding: 28px 20px;
}

.article-title {

  line-height: 20px;
}

.section__name::after {
  margin: 4px auto 24px;
}

.post__item__description {
  margin-top: 5px;
}

.main__post__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.main__post__info {
  font-size: 12px;
  margin-top: 18px;
}

.main__post__text {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}