@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Bold.woff');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Regular.woff');
  font-style: normal;
  font-weight: 400;
} 

body {
  margin: 0;
  text-transform: uppercase;
  font-family: "OpenSans";
  min-width: 360px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.hidden-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-name {
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.section-name::after {
  content: '';
  display: block;
  width: 66px;
  height: 3px;
  opacity: 0.4;
  background: #b59f5b;
}

/* ------------------- header ---------------------- */

.header {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
}

.header::after {
  content: '';
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-data {
  position: relative;
  z-index: 3;
}

.menu-nav {
  display: none;
}

p {
  margin: 0;
}

/* --------- burger --------- */

.header-menu__button {
  position: absolute;
  top: -194px;
  right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23px;
  height: 23px;
  padding: 0 0 2px 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.button-lines {
  height: 3px;
  background-color: #fff;
}

.button-lines::before {
  content: '';
  display: block;
  height: 3px;
  background-color: #fff;
  margin-top: -8px;
}

.button-lines::after {
  content: '';
  display: block;
  height: 3px;
  background-color: #fff;
  margin-top: 13px;
}

/* ---------- main----------- */

.trend-info__title {
  margin: 0;
}

.trend-items {
  display: flex;
  gap: 1px;
}

.trend-info__title-link {
  color: #ffffff;
}

.trend-item {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: flex-end;
}

.trend-item::after {
  content: '';
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trend-info {
  z-index: 3;
  border: 3px solid #b59f5b;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.image-first {
  background-image: url("../images/trend1.jpg");
}

.image-second {
  background-image: url("../images/trend2.jpg");
}

.image-third {
  background-image: url("../images/trend3.jpg");
}

.image-fourth {
  background-image: url("../images/trend4.jpg");
}

.tags-list {
  font-size: 14px;
  gap: 18px;
  flex-wrap: wrap;
}

.post-tags {
  font-size: 14px;
}

.tag-link {
  color: #b59f5b;
}

.tag-link:hover {
  text-decoration: underline;
}

.main-posts {
  display: flex;
  flex-direction: column;
}

.post-description__title {
  font-weight: bold;
}

.post-info {
  display: flex;
  font-size: 12px;
}

.date {
  color: #888888;
  text-transform: none;
}

.author {
  font-weight: bold;
  margin-left: 14px;
  text-transform: none;
}

.post-text {
  text-transform: none;
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* ---------------- new-posts ---------------- */

.post-item-info__date {
  display: block;
  font-size: 12px;
  line-height: 10px;
  text-transform: none;
  color: #888888;
}

.post-item-info__title {
  font-size: 14px;
  line-height: 18px;
  margin: 6px 0 0;
}

/* ----------------- search ----------------- */

.search-form {
  display: flex;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border: 0;
  padding: 0 17px;
  background: #f4f7f6;
}

.search-input:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border: 0;
  padding: 0;
  cursor: pointer;

  background-image: url("../svg/search.svg");
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.search-button:hover {
  background-color: #323232;
}

/* ----------------- mailing ----------------- */

.mailing__title {
  margin-bottom: 22px;
}

.mailing-form__input {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  border: 0;
  padding: 0 18px;
  margin-bottom: 17px;
  background: #f4f7f6;
}

.mailing-form__input:focus {
  outline: 1px solid #b59f5b;
}

.mailing-form__button {
  border: 0;
  padding: 0;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  height: 48px;
  width: 100%;
  background-color: #b59f5b;
}

.mailing-form__button:hover {
  background-color: #323232;
}

/* ------------------ tags -------------------- */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tags-section__title {
  margin-bottom: 22px;
}

.tags__item {
  border: 3px solid #eeeeee;
  /* margin-top: 6px; */
  padding: 1px 13px;
}

.tags__item-link {
  font-size: 12px;
}

.tag__item:hover {
  border-color: #b59f5b;
}

/* -------------------- themes ----------------- */

.themes {
  display: flex;
  flex-direction: column;
}

.themes__item {
  padding: 12px 0;
  border-bottom: 1px solid #ededed;
}

.themes__item-link {
  font-size: 14px;
  text-transform: none;
}

.themes__item-link:hover {
  color: #b59f5b;
}

.superscript {
  line-height: normal;
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
}

/* -------- products -------- */

.product-image {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-info {
  position: relative;
  top: -30px;
  padding: 47px 17px 20px;
  border: 3px solid #b59f5b;
}

.product-info__title {
  margin: 0;
  text-transform: uppercase;
}


/* -------------------- footer ----------------- */

.footer {
  text-align: center;
}

.socials {
  margin: 0 auto;
  padding: 31px 0 31px; 
  background-color: #f4f7f6;
}

.social__items {
  margin: 0 auto;
  justify-content: center;
  gap: 27px;
}

.social__item {
  height: 20px;
}

.social__icon {
  display: block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
}

.dribbble__icon{
  background-image: url("../svg/001-dribbble.svg");
}
         
.pinterest__icon {
  background-image: url("../svg/002-pinterest.svg");
}

.tumblr__icon {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright__link {
  font-weight: bold;
  font-size: 12px;
  text-transform: none;
  color: #999999;
}

.copyright__link:hover {
  text-decoration: underline;
  color: #999999b9;
}

/* ------------ pop-up -------------- */

.popup {
  position: fixed;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 56px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 999;
}

.hidden-popup {
  display: none;
}

.popup-window {
  position: relative;
  width: 331px;
  margin: 0 auto;
  padding: 21px 25px 30px;
  box-sizing: border-box;
  background-color: #fff;
}

.popup-window::after {
  content: '';
  position: absolute;
  top: -32px;
  right: 2px;
  display: block;
  width: 27px;
  height: 27px;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
}

.popup-window__title::after {
  margin: 6px auto 25px;
}

.popup-window__form {
  font-size: 13px;
  text-transform: none;
}

.popup-window__label {
  display: block;
}

.popup-window__question {
  margin-right: 7px;
  display: block;
  /* line-height: 16px; */
}

.popup-window__select {
  width: 100%;
  height: 46px;
  box-sizing: border-box;
  margin-top: 9px;
  border: none;
  background-color: #f3f7f6;
}

.popup-window__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: rgba(0, 0, 0, 0.541);
  padding-left: 18px;
  padding-right: 42px;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center right 16px;
}

.popup-radio {
  padding-top: 32px;
}

.radio-items {
  display: flex;
  padding: 8px 0;
  margin-bottom: 19px;
  gap: 35px;
}

.radio-text::before {
  --image-size: 25px;
  content: '';
  display: inline-block;
  width: var(--image-size); 
  height: var(--image-size);
  margin-right: 5px;
  vertical-align: middle;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: var(--image-size);
  background-repeat: no-repeat;
}

.radio-button:checked + .radio-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio-button {
  display: none;
}

.popup-window__textarea {
  min-height: 130px;
  padding: 15px 21px;
  font-size: 13px;
  font-family: 'OpenSans', sans-serif;
  resize: none;
}

.popup-window__button {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #b59f5b;
  margin-top: 25px;
  padding: 15px 0;
  font-size: 14px;
  font-weight: bold;
}
