@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Bold.woff');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Regular.woff');
  font-style: normal;
  font-weight: 400;
} 

body {
  margin: 0;
  text-transform: uppercase;
  font-family: "OpenSans";
  min-width: 360px;
  /* padding-bottom: 40px; */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.hidden__text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------- header ---------------------- */

.header {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
}

.header::after {
  content: '';
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-data {
  position: relative;
  z-index: 3;
}

.header__menu__nav {
  display: none;
}

p {
  margin: 0;
}

/* ---------- main----------- */

.article-title {
  margin: 0;
}

.trends-items {
  display: flex;
  gap: 1px;
}

.trend__item__link {
  color: #ffffff;
}

.trend__item {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: flex-end;
}

.trend__item::after {
  content: '';
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trend__item__description {
  z-index: 3;
  border: 3px solid #b59f5b;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tr_image_1 {
  background-image: url("../images/trend1.jpg");
}

.tr_image_2 {
  background-image: url("../images/trend2.jpg");
}

.tr_image_3 {
  background-image: url("../images/trend3.jpg");
}

.tr_image_4 {
  background-image: url("../images/trend4.jpg");
}

.tags_list {
  font-size: 14px;
  gap: 18px;
}

.post__item__tags {
  font-size: 14px;
  /* line-height: 14px; */
  /* margin-bottom: 8px; */
}

.post__tag__link {
  color: #b59f5b;
}

.post__tag__link:hover {
  text-decoration: underline;
}

.main__posts {
  display: flex;
  flex-direction: column;
}

.main__post__title {
  font-weight: bold;
}

.main__post__info {
  display: flex;
  font-size: 12px;
}

.main__post__text {
  text-transform: none;
}

.date {
  color: #888888;
  text-transform: none;
}

.author {
  font-weight: bold;
  margin-left: 14px;
  text-transform: none;
}

.main__post__text {
  text-transform: none;
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section__name {
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.section__name::after {
  content: '';
  display: block;
  width: 66px;
  height: 3px;
  opacity: 0.4;
  background: #b59f5b;
}

.new__post__date {
  display: block;
  font-size: 12px;
  line-height: 10px;
  text-transform: none;
  color: #888888;
}

.new__post__item__title {
  font-size: 14px;
  line-height: 18px;
  margin: 6px 0 0;
}

/* ----------------- search ----------------- */

.search-form {
  display: flex;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border: 0;
  padding: 0 17px;
  background: #f4f7f6;
}

.search-input:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border: 0;
  padding: 0;
  cursor: pointer;

  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.search-button:hover {
  background-color: #323232;
}

/* ----------------- mailing ----------------- */

.mailing .section__name {
  margin-bottom: 22px;
}

.mail__input {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  border: 0;
  padding: 0 18px;
  margin-bottom: 17px;
  background: #f4f7f6;
}

.mail__input:focus {
  outline: 1px solid #b59f5b;
}

.mail__button {
  border: 0;
  padding: 0;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  height: 48px;
  width: 100%;
  background-color: #b59f5b;
}

.mail__button:hover {
  background-color: #323232;
}

/* ------------------ tags -------------------- */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tags-section .section__name {
  margin-bottom: 22px;
}

.tag__item {
  border: 3px solid #eeeeee;
  /* margin-top: 6px; */
  padding: 1px 13px;
}

.tag__link {
  font-size: 12px;
}

.tag__item:hover {
  border-color: #b59f5b;
}

/* -------------------- themes ----------------- */

.themes {
  display: flex;
  flex-direction: column;
}

.theme__item {
  padding: 12px 0;
  border-bottom: 1px solid #ededed;
}

.theme-link {
  font-size: 14px;
  text-transform: none;
}

.theme-link:hover {
  color: #b59f5b;
}

.superscript {
  line-height: normal;
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
}


