@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Bold.woff');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Regular.woff');
  font-style: normal;
  font-weight: 400;
} 

body {
  margin: 0;
  text-transform: uppercase;
  font-family: "OpenSans";
  min-width: 360px;
  /* padding-bottom: 40px; */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.hidden__text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------ pop-up -------------- */

.popup {
  position: fixed;
  height: 100vh;
  box-sizing: border-box;
  padding: 56px 14px 38px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 999;
  /* display: none; */
}

.popup__window {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 21px 25px 30px;
  box-sizing: border-box;
  background-color: #fff;
}

.popup__window::after {
  content: '';
  position: absolute;
  top: -32px;
  right: 2px;
  display: block;
  width: 27px;
  height: 27px;
  background-image: url("../svg/form-x.svg");
}

.popup__window .section__name::after {
  margin: 6px auto 25px;
}

.popup__form {
  font-size: 13px;
  text-transform: none;
}

.form__label {
  display: block;
}

.form__input {
  width: 100%;
  height: 46px;
  box-sizing: border-box;
  margin-top: 9px;
  border: none;
  background-color: #f3f7f6;
}

.form__radio__wrapper {
  padding-top: 31px;
}

.form__radio {
  display: flex;
  gap: 33px;
  padding: 8px 0;
  margin-bottom: 19px;
}

.radio__button::before {
  content: '';
  display: inline-block;
  width: 26px; 
  height: 26px;
  margin-right: 5px;
  vertical-align: middle;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: 26px;
  background-repeat: no-repeat;
}

.radio__input:checked + .radio__button::before {
  background-image: url("../svg/form-circle.svg");
}

.radio__input {
  display: none;
}

.form__button {
  width: 100%;
  color: #fff;
  border: none;
  background-color: #b59f5b;
  margin-top: 26px;
  padding: 14px 0;
  font-size: 17px;
  font-weight: bold;
}

.input__min__height {
  min-height: 130px;
}

/* ------------------- header ---------------------- */

.header {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
}

.header::after {
  content: '';
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-data {
  position: relative;
  z-index: 3;
}

.header__menu__nav {
  display: none;
}

p {
  margin: 0;
}

/* ---------- main----------- */

.article-title {
  margin: 0;
}

.trends-items {
  display: flex;
  gap: 1px;
}

.trend__item__link {
  color: #ffffff;
}

.trend__item {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: flex-end;
}

.trend__item::after {
  content: '';
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trend__item__description {
  z-index: 3;
  border: 3px solid #b59f5b;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tr_image_1 {
  background-image: url("../images/trend1.jpg");
}

.tr_image_2 {
  background-image: url("../images/trend2.jpg");
}

.tr_image_3 {
  background-image: url("../images/trend3.jpg");
}

.tr_image_4 {
  background-image: url("../images/trend4.jpg");
}

.tags_list {
  font-size: 14px;
  gap: 18px;
  flex-wrap: wrap;
}

.post__item__tags {
  font-size: 14px;
  /* line-height: 14px; */
  /* margin-bottom: 8px; */
}

.post__tag__link {
  color: #b59f5b;
}

.post__tag__link:hover {
  text-decoration: underline;
}

.main__posts {
  display: flex;
  flex-direction: column;
}

.main__post__title {
  font-weight: bold;
}

.main__post__info {
  display: flex;
  font-size: 12px;
}

.main__post__text {
  text-transform: none;
}

.date {
  color: #888888;
  text-transform: none;
}

.author {
  font-weight: bold;
  margin-left: 14px;
  text-transform: none;
}

.main__post__text {
  text-transform: none;
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section__name {
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.section__name::after {
  content: '';
  display: block;
  width: 66px;
  height: 3px;
  opacity: 0.4;
  background: #b59f5b;
}

.new__post__date {
  display: block;
  font-size: 12px;
  line-height: 10px;
  text-transform: none;
  color: #888888;
}

.new__post__item__title {
  font-size: 14px;
  line-height: 18px;
  margin: 6px 0 0;
}

/* ----------------- search ----------------- */

.search-form {
  display: flex;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border: 0;
  padding: 0 17px;
  background: #f4f7f6;
}

.search-input:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border: 0;
  padding: 0;
  cursor: pointer;

  background-image: url("../svg/search.svg");
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.search-button:hover {
  background-color: #323232;
}

/* ----------------- mailing ----------------- */

.mailing .section__name {
  margin-bottom: 22px;
}

.mail__input {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  border: 0;
  padding: 0 18px;
  margin-bottom: 17px;
  background: #f4f7f6;
}

.mail__input:focus {
  outline: 1px solid #b59f5b;
}

.mail__button {
  border: 0;
  padding: 0;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  height: 48px;
  width: 100%;
  background-color: #b59f5b;
}

.mail__button:hover {
  background-color: #323232;
}

/* ------------------ tags -------------------- */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tags-section .section__name {
  margin-bottom: 22px;
}

.tag__item {
  border: 3px solid #eeeeee;
  /* margin-top: 6px; */
  padding: 1px 13px;
}

.tag__link {
  font-size: 12px;
}

.tag__item:hover {
  border-color: #b59f5b;
}

/* -------------------- themes ----------------- */

.themes {
  display: flex;
  flex-direction: column;
}

.theme__item {
  padding: 12px 0;
  border-bottom: 1px solid #ededed;
}

.theme-link {
  font-size: 14px;
  text-transform: none;
}

.theme-link:hover {
  color: #b59f5b;
}

.superscript {
  line-height: normal;
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
}

/* -------- products -------- */

.product__image {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.product__info {
  position: relative;
  top: -30px;
  padding: 47px 17px 20px;
  border: 3px solid #b59f5b;
}

.product__title {
  margin: 0;
  text-transform: uppercase;
}


/* -------------------- footer ----------------- */

.footer {
  text-align: center;
}

.socials {
  margin: 0 auto;
  padding: 31px 0 31px; 
  background-color: #f4f7f6;
}

.social__items {
  margin: 0 auto;
  justify-content: center;
  gap: 27px;
}

.social__item {
  height: 20px;
}

.social__icon {
  display: block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
}

.dribbble__icon{
  background-image: url("../svg/001-dribbble.svg");
}
         
.pinterest__icon {
  background-image: url("../svg/002-pinterest.svg");
}

.tumblr__icon {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright__link {
  font-weight: bold;
  font-size: 12px;
  text-transform: none;
  color: #999999;
}

.copyright__link:hover {
  text-decoration: underline;
  color: #999999b9;
}
