.header {
  padding-top: 43px;
  padding-bottom: 113px;
  background-image: url("../images/banner-bg-tablet.jpg");
}

.header__logo {
  width: 158px;
}

.header__menu {
  box-sizing: border-box;
  margin: 0 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 85px 78px 0;
  font-size: 40px;
  line-height: 54.98px;
}

/* ---------- main----------- */

.main__posts__wrapper {
  padding: 43px 35px 0;
  color: #0f0d0e;
  display: flex;
  justify-content: space-between;
}

.main__posts {
  padding-top: 7px;
  gap: 42px;
}

.main__post {
  width: 391px;
  padding-bottom: 19px;
}

.post__item__tags {
  margin-top: 7px;
}

.main__post__title {
  font-size: 17px;
  line-height: 22px;
  margin: 7px 0 0;
}

.main__post__info {
  margin-top: 31px;
}

.main__post__text {
  font-size: 15px;
  line-height: 22px;
  margin-top: 13px;
}

.main__sections {
  width: 270px;
}

.trends {
  padding-top: 42px;
}

.trends-items {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}

.trend__item {
  width: calc((100% - 3px) / 2);
  padding: 16px 20px;
  border: none;
  height: 247px;
}

.trend__item__description {
  padding: 29px;
}

.article-title {
  font-size: 17px;
  line-height: 22px;
}

.main__sections {
  padding-top: 0;
}

.section__name {
  font-size: 14px;
}

.section__name::after {
  margin: 6px auto 19px;
}

.search-form {
  margin-top: 45px;
}

.mailing {
  padding-top: 53px;
}

.tags-section {
  padding-top: 50px;
}

.themes-section {
  padding-top: 51px;
}

.themes-section .section__name::after {
  margin-bottom: 6px;
}