/* ------------- popup ---------------- */

.popup {
  padding-top: 236px;
}

.popup-window {
  width: 390px;
  padding: 47px 29px 53px;
}

.popup-window::after {
  top: -36px;
  right: 1px;
}

.popup-window__title {
  font-size: 18px;
}

.popup-window__title::after {
  margin: 6px auto 25px;
}

/* ------------- header --------------- */

.header {
  padding-top: 43px;
  padding-bottom: 113px;
  background-image: url("../images/banner-bg-tablet.jpg");
}

.header-menu__logo {
  width: 158px;
}

.header-menu {
  box-sizing: border-box;
  margin: 0 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-data__title {
  margin: 85px 78px 0;
  font-size: 40px;
  line-height: 54.98px;
}

/* --------- burger --------- */

.header-menu__button {
  position: static;
}

/* ---------- main----------- */

.main__posts__wrapper {
  padding: 43px 35px 0;
  color: #0f0d0e;
  display: flex;
  justify-content: space-between;
}

.main {
  padding: 43px 35px 0;
}

.main-inner {
  display: flex;
}

.main-posts {
  padding-top: 7px;
  gap: 42px;
}

.main-post {
  padding-bottom: 19px;
}

.post-tags {
  margin-top: 7px;
}

.post-description__title {
  font-size: 17px;
  line-height: 22px;
  margin: 7px 0 0;
}

.post-info {
  margin-top: 29px;
  margin-left: -3px;
}

.post-text {
  font-size: 15px;
  line-height: 22px;
  margin-top: 13px;
}

/* --------- trends ---------- */

.trends {
  padding-top: 42px;
}

.trends__title {
  font-size: 18px;
  line-height: 29px;
}

.trends__title::after {
  margin: 6px auto 19px;
}

.trend-items {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}

.trend-item {
  width: calc((100% - 3px) / 2);
  padding: 16px 20px;
  border: none;
  height: 247px;
}

.trend-info {
  padding: 29px;
}

@media (orientation: landscape) {
  .trend-items {
    gap: 4px;
  }

  .trend-item {
    width: calc((100% - 12px) / 4);
    height: auto;
  }

  .trend-info__title-link {
    word-break: break-word;
  }
}

.trend-info__title {
  font-size: 17px;
  line-height: 22px;
}

/* -------- new-posts --------- */

.main__sections {
  width: 270px;
  flex-shrink: 0;
  margin-left: 35px;
  padding-top: 3px;
}

.new-posts__title {
  font-size: 14px;
}

.new-posts__title::after {
  margin: 9px auto 23px;
}

/* -------- mailing -------- */

.mailing {
  padding-top: 56px;
}

.mailing__title {
  font-size: 14px;
}

.search-form {
  margin-top: 45px;
}

/* -------- tags -------- */

.tags-section {
  padding-top: 55px;
}

.tags-section__title {
  font-size: 14px;
}

/* -------- themes -------- */

.themes-section {
  padding-top: 55px;
}

.themes-section__title {
  font-size: 14px;
}

/* -------- products -------- */

.products {
  padding-top: 43px;
}

.products__title {
  font-size: 18px;
}

.products__title::after {
  margin: 8px auto 28px;
}

.products__inner {
  grid-template-columns: repeat(2, 1fr);
  gap: 0 23px;
}

.product {
  display: flex;
  flex-direction: column;
}

.product-image {
  height: 226px;
}

.product-info {
  flex-grow: 1;
  top: -37px;
  padding: 49px 17px 25px 19px;
}

.product-info__title {
  font-size: 17px;
  line-height: 22px;
}

.product-info__text {
  font-size: 15px;
  line-height: 22px;
  text-transform: none;
  margin-top: 3px;
}

.product-buy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 22px;
}

.prices {
  font-weight: bold;
}

.price-item:after {
	content: ' \20BD';
}

.old-price {
  text-decoration: line-through;
  font-size: 14px;
}

.current-price {
  font-size: 20px;
  line-height: 14px;
  padding-bottom: 10px;
}

.product-buy__shop {
  font-size: 14px;
  line-height: 40px;
  padding: 4px;
  width: 140px;
  box-sizing: border-box;
  background-color: #b59f5b; 
  color: #fff;
  text-align: center;
  margin-right: 4px;
}

.product-info__text-link {
  color: #b59f5b;
  font-weight: normal;
}

.product-info__text-link:hover {
  text-decoration: underline;
}

.product-image-first {
  background-image: url("../images/shop-item-tablet1.jpg");
}

.product-image-second {
  background-image: url("../images/shop-item-tablet2.jpg");
}

.product-image-third {
  background-image: url("../images/shop-item-tablet3.jpg");
}

.socials {
  padding: 29px 0 31px;
}